.bg-modal-color {
    background-color: #FFF8E3;
}

.font-color {
    color: #742437;
  }

.colorname {
    color: #6D313F;
}

.toast-color {
    background: #da8499 !important;
    border: 2px solid #742437 !important;
  }