@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;800&display=swap');

body{
    background-color: white;
}

.logo-font{
    font-family: 'Italianno', cursive;
    color: white;
    font-size: 42px;
    /* cursor: pointer; */
    text-align: center;
    justify-content: space-around;
}

.sidenav_width{
    width: 310px;
}

/* .bg-color-1{
    background-color: #2A3042;
    text-align: center;
} */


.siderbar-color{
    background-color: #2A3042;
    color: white;
    min-height: 100vh;
    transition: 1s;

}

@media only screen and (max-width: 1300px) {
    #default-sidebar{
        position: absolute;
    }

    .responsive_side_adjust{
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    .operator_button{
        font-size: 12px;
    }
}

.das-icons{
    color: #9CA3AF;
}

.product-table thead{
    background-color: #F3F4F6;
    border-top: 1px solid #cbcbcd;;
    border-bottom: 1px solid #cbcbcd;
}

.product-table thead th {
    color: #6B7280;
}

.product-table td{
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #cbcbcd;
}

tr td img{
    width: 120px;
    object-fit: cover;
}

thead tr th{
    padding-left: 15px;
}

.searchbox{
    border: 1px solid #cbcbcd;
    background-color: #F3F4F6;
    color: #6B7280;
}

.searchbox:focus-visible{
    border: none;
}


.message_div{
    box-shadow: 1px 1px 4px #242424;
    border-radius: 20px 0px 20px 0px;
    max-width: 40%;
    overflow-wrap: break-word;
}

/*To remove Scroll*/
.message_section {
    overflow: scroll;
    -ms-overflow-style: none; /* for IE and Edge */
    scrollbar-width: none; /* for Firefox */
}

.message_section::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


.success_alert_message {
    width: 76%;
    height: 8vh;
    background: #73e073;
    position: fixed;
    margin: 70px 27px;
    padding: 17px;
    border-radius: 9px;
    text-align: center;
    font-size: 18px;
    opacity: 1; /* Initial opacity */
    transition: opacity 1s; /* Transition for opacity property */
}

.success_alert_message.deactive {
    opacity: 0; /* Set opacity to 0 when deactive class is added */
    pointer-events: none; /* Disable pointer events when message is hidden */
}


.sidenav_animate_close{
    animation: 0.3s sidenav_close_animation linear;
}



.sidenav_animate_open{
    animation: 0.3s sidenav_open_animation linear;
}

@keyframes sidenav_open_animation {
    0%{
        width: 3rem;
    }
    100%{
        width: 20rem;
    }

}

@keyframes sidenav_close_animation {
    0%{
        width: 20rem;
    }
    100%{
        width: 3rem;
    }
}

.close_icon{
    width: 33px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 6px;
    margin: 14px 10px 0px 10px;
}
.close_icon:hover{
    cursor: pointer;
}

