@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;800&display=swap');

.logo-font{
    font-family: 'Italianno', cursive;
    color: white;
    font-size: 46px;
    cursor: pointer;
}

.bg-color-1{
    background-color: #2A3042;
    height: 100vh;
    text-align: center;
}

.color-1{
    color: #6A7187;
    text-align: left;
    font-family: "Kameron", serif;
    margin-left: 25px;
    font-weight: 500;
    font-size: 16px;
}

.das{
    color: white;
    font-size: 22px;
    font-family: 'Abhaya Libre', serif;
    cursor: pointer;
}

.das-icon-1{
    font-size: 23px;
}

.down-up-icon{
    font-size: 16px;
}

.dropdown-items{
    color: #6A7187;
    font-family: 'Abhaya Libre', serif;
    text-align: left;
    font-size: 20px;
}

.dropdown-item:hover{
    color: white;
    cursor: pointer;
}

.dropdown-item:target{
    color: white;
}