@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FFF8E3;
    font-family: 'Abhaya Libre', serif;
}

html::-webkit-scrollbar {
    height: 8px; /* Adjust the width as needed */
  }
  
html::-webkit-scrollbar {
    width: 8px; 
  /* Adjust the width as needed */
  }
  
html::-webkit-scrollbar-thumb {
    background-color: #742437; /* Adjust the color of the scrollbar thumb */
    border-radius: 4px;
  }